
#dropdownMenuButton {
    margin-left: 350px;
}
.button {
    margin-left: 20px;
    margin-bottom: 50px;
    padding-left: 150px;
    padding-bottom: 600px;
}
.table {
    width: 500px;
    height: 400px; 
}
.card {
    width: 400px;
    height: 400px;
}